.py-base{
  padding-block: var(--py-base);
}
.py-lg{
  padding-block: var(--py-lg);
}
.py-xl{
  padding-block: var(--py-xl);
}
.px-lg{
  padding-inline: var(--px-lg);
}
.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  /* border: solid violet; */
  margin-inline: auto;
}
/* Estratégia mobile firts : priorizando sempre o mobile e depois ajustamos para o desktop */
.desktop-only {
  display: none;
}
/* Criação da classe "Even Columns" para organizar elementos em colunas iguais em diferentes dispositivos. Essas estratégias visam facilitar a construção e adaptação de layouts em projetos web.*/
.even-columns {
  display: grid;
  gap: 1rem;
}
.flex {
  display: flex;
}

.items-center{
  align-items: center;

}

.gap-1{
  gap: 1rem;
}

.gap-1\.5{
  gap: 1.5rem;
}

.grid{
  display: grid;
}

/* desktop */
@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns{
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
